<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gekko</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <img src="https://cybersport.metaratings.ru/storage/images/bf/b7/bfb741d598050e3f8cefd177e8498335.jpg" alt="">
 <ion-list>
  <ion-item>
    <ion-label><h2>NOME:</h2> Mateo Armendáriz De la Fuente</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><h2>CODNOME:</h2>Gekko</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><h2>NACIONALIDADE:</h2>Estados Unidos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><h2>FUNÇÃO:</h2>Iniciador</ion-label>
  </ion-item>

</ion-list>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Habilidade do Agente</ion-card-title>

  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltb04bcc15680583e4/640273e5aa6c3f7f594bd1cf/Gekko_icon_mosh.png" />
        </ion-thumbnail>
        <ion-label>MOSH PIT</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt84c8955357322ecd/64027318ec12cd34d0060449/Gekko_ability_Icon_Wingman_.png" />
        </ion-thumbnail>
        <ion-label>WINGMAN </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt09558f0cb6be03a3/6402737a27ccd11087ac6a70/Gekko_ability_Icon_3.png" />
        </ion-thumbnail>
        <ion-label> DIZZY</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltb24321feccb0cb69/6402740fba95fe6a2554b0b5/Gekko_ability_icon_4.png" />
        </ion-thumbnail>
        <ion-label>THRASH</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>

