<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item (click)="Vaparapagina('../killjoy')" >

      <ion-avatar slot="start" >
        <img src="https://sm.ign.com/ign_br/screenshot/default/blob_8bnd.jpg" alt="">

      </ion-avatar>
      <ion-label>Kill Joy</ion-label>
      <ion-chip>Email: killjoy@gmail.com</ion-chip>
      <ion-chip>Id 1</ion-chip>
    </ion-item>
    <ion-item (click)="Vaparapagina('../gekko')">
      <ion-avatar slot="start">
        <img src="https://cdn3.emoji.gg/emojis/4573-gekko-icon.png" alt="">
      </ion-avatar>
      <ion-label>Gekko</ion-label>
      <ion-chip>Email: gekko@gmail.com</ion-chip>
      <ion-chip>Id 2</ion-chip>
    </ion-item>
    <ion-item (click)="Vaparapagina('../neon')">
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/736x/00/31/68/003168c267d05e5fbc19ece470d54df9.jpg" alt="">
      </ion-avatar>
      <ion-label>Neon</ion-label>
      <ion-chip>Email: neon@gmail.com</ion-chip>
      <ion-chip>Id 3</ion-chip>
    </ion-item>
    <ion-item (click)="Vaparapagina('../reyna')">
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/736x/40/83/18/4083186369daa9a5e42fe707ec6ae3e2.jpg" alt="">
      </ion-avatar>
      <ion-label>Reyna</ion-label>
      <ion-chip>Email: reyna@gmail.com</ion-chip>
      <ion-chip>Id 4</ion-chip>
    </ion-item>
    <ion-item (click)="Vaparapagina('../jett')">
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/564x/92/a0/63/92a0633fbbaad44e30793d0e999dcf72.jpg" alt="">
      </ion-avatar>
      <ion-label>Jett</ion-label>
      <ion-chip>Email: jett@gmail.com</ion-chip>
      <ion-chip>Id 5</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
